{% extends 'mainapp/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<section class="page-add cart-page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Log in</h2>
                </div>
            </div>
        </div>
        <div class="login-form">
            <form method="post" action=".">
                {% csrf_token %}

                {% for field in form %}
                    <div class="py-4">
                        <label class="block">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="col-lg-12">
                    <button type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
