{% extends 'mainapp/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="text-2xl">My account</h1>

    <hr>

    <a href="{% url 'logout' %}" class="mt-6 inline-block py-4 px-8 bg-red-400 text-white hover:bg-red-600">Log out</a>

    <h1 class="text-2xl mt-6">My orders</h1>

    <hr>

    {% if orders %}
        {% for order in orders %}
            <div class="mt-6">
                <h2 class="text-xl">Order #{{ order.id }}</h2>
                <p class="text-gray-600">Created at: {{ order.created }}</p>
                <p class="text-gray-600">Status: {{ order.updated }}</p>
                <p class="text-gray-600">Status: {{ order.first_name }}</p>
                <p class="text-gray-600">Status: {{ order.last_name }}</p>
                <p class="text-gray-600">Status: {{ order.email }}</p>
                <p class="text-gray-600">Status: {{ order.city }}</p>
                <p class="text-gray-600">Status: {{ order.postal_code }}</p>
                <p class="text-gray-600">Status: {{ order.address }}</p>
                <p class="text-gray-600">Total price: {{ order.total }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-6">You have no orders yet.</p>
    {% endif %}
{% endblock %}
